<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Quản lý thuộc tính loại sản phầm</title>
    <div th:replace="fragment::head-custom"></div>
    <style>
        /* Extra styles for the cancel button */
        .cancelbtn {
            width: auto;
            padding: 10px 18px;
            background-color: #f44336;
        }

        /* The Modal (background) */
        .modal {
            display: none;
            /* Hidden by default */
            position: fixed;
            /* Stay in place */
            z-index: 1;
            /* Sit on top */
            left: 0;
            top: 0;
            width: 100%;
            /* Full width */
            height: 100%;
            /* Full height */
            overflow: auto;
            /* Enable scroll if needed */
            background-color: rgb(0, 0, 0);
            /* Fallback color */
            background-color: rgba(0, 0, 0, 0.4);
            /* Black w/ opacity */
            padding-top: 60px;
        }

        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            margin: 5% auto 15% auto;
            /* 5% from the top, 15% from the bottom and centered */
            border: 1px solid #888;
            width: 50%;
            /* Could be more or less, depending on screen size */
        }

        /* Add Zoom Animation */
        .animate {
            -webkit-animation: animatezoom 0.6s;
            animation: animatezoom 0.6s
        }

        @-webkit-keyframes animatezoom {
            from {
                -webkit-transform: scale(0)
            }

            to {
                -webkit-transform: scale(1)
            }
        }

        @keyframes animatezoom {
            from {
                transform: scale(0)
            }

            to {
                transform: scale(1)
            }
        }
    </style>
</head>

<body class="sidebar-mini" style="height: auto; max-width: 100%; overflow-x: hidden;">
    <div th:replace="fragment::header-admin"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="min-height: 1599.06px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1></h1>
                    </div>
                    <div class="col-sm-6">
                        <div class="float-sm-right">
                            <a onclick="document.getElementById('id01').style.display='block'" style="width:auto;"
                                class="btn btn-dark"><i class="fa-solid fa-square-plus"></i>Thêm mới</a>
                        </div>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Danh sách danh thuộc tính</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse"
                                        title="Collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- ./card-header -->
                            <div class="card-body p-0">
                                <table class="table table-hover">
                                    <tbody>
                                        <tr>
                                            <th width="20%">Tên thuộc tính</th>
                                            <th width="20%">Đơn vị</th>
                                            <th width="45%">Ghi chú</th>
                                            <th width="15%"></th>
                                        </tr>
                                        <th:block th:each="property : ${propertyResponseList}">
                                            <tr>
                                                <td>
                                                    <a th:text="${property.name}" th:id="'name-' + ${property.id}"></a>
                                                </td>
                                                <td>
                                                    <a th:text="${property.unit}" th:id="'unit-' + ${property.id}"></a>
                                                </td>
                                                <td>
                                                    <a th:text="${property.note}" th:id="'note-' + ${property.id}"></a>
                                                </td>
                                                <td class="project-actions text-right">
                                                    <a class="btn btn-info btn-sm" th:data-id="${property.id}"
                                                        onclick="showForm(this)">
                                                        <i class="fas fa-pencil-alt">
                                                        </i>
                                                        Sửa
                                                    </a>
                                                    <a class="btn btn-danger btn-sm"
                                                        th:data-href="'/admin/property/delete/' + ${property.id}"
                                                        onclick="deleteMethod(this)">
                                                        <i class="fas fa-trash">
                                                        </i>
                                                        Xóa
                                                    </a>
                                                </td>
                                            </tr>
                                        </th:block>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
        <div
            th:replace="fragment::paginate('/admin/property/get-all-property', ${keyword}, ${current_page}, ${total_page})">
        </div>

        <div id="id01" class="modal" style="z-index: 99999;">
            <form class="modal-content animate">
                <div class="form-group card-body" style="margin-bottom: 0px">
                    <label>Tên thuộc tính</label>
                    <input type="text" class="form-control" placeholder="Tên thuộc tính" id="nameProperty_">
                </div>
                <div class="form-group card-body" style="margin-bottom: 0px">
                    <label>Đơn vị</label>
                    <input type="text" class="form-control" placeholder="Có thể bỏ trống" id="unit_">
                </div>
                <div class="form-group card-body" style="margin-bottom: 0px">
                    <label>Ghi chú</label>
                    <input type="text" class="form-control" placeholder="Có thể bỏ trống" id="note_">
                </div>
                <div class="card-body" style="background-color:#f1f1f1">
                    <a class="btn btn-primary" onclick="createProperty()">Thêm thuộc tính</a>
                    <a type="button" onclick="document.getElementById('id01').style.display='none'"
                        class="btn btn-primary btn-danger">Hủy</a>
                </div>
            </form>
        </div>
        <div id="id02" class="modal" style="z-index: 99999;">
            <form class="modal-content animate">
                <div class="form-group card-body" style="margin-bottom: 0px">
                    <label>Tên thuộc tính</label>
                    <input type="text" class="form-control" placeholder="Tên thuộc tính" id="nameProperty__">
                </div>
                <div class="form-group card-body" style="margin-bottom: 0px">
                    <label>Đơn vị</label>
                    <input type="text" class="form-control" placeholder="Có thể bỏ trống" id="unit__">
                </div>
                <div class="form-group card-body" style="margin-bottom: 0px">
                    <label>Ghi chú</label>
                    <input type="text" class="form-control" placeholder="Có thể bỏ trống" id="note__">
                </div>
                <div class="card-body" style="background-color:#f1f1f1">
                    <a class="btn btn-primary" onclick="editProperty()">Lưu</a>
                    <a type="button" onclick="document.getElementById('id02').style.display='none'"
                        class="btn btn-primary btn-danger">Hủy</a>
                </div>
            </form>
        </div>
    </div>

    <div th:replace="fragment::footer-admin"></div>

    <div th:replace="fragment::script-custom"></div>

    <script>

        var origin = window.location.origin;

        // Get the modal
        var modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        // Get the modal
        var modal2 = document.getElementById('id02');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal2) {
                modal2.style.display = "none";
            }
        }

        var propertyId = 0;

        function showForm(e) {
            propertyId = $(e).attr('data-id');
            document.getElementById("nameProperty__").value = document.getElementById('name-' + propertyId).innerText;
            document.getElementById("unit__").value = document.getElementById('unit-' + propertyId).innerText;
            document.getElementById("note__").value = document.getElementById('note-' + propertyId).innerText;
            document.getElementById('id02').style.display = 'block';
        }

        function editProperty() {
            var name = document.getElementById("nameProperty__").value;
            var unit = document.getElementById("unit__").value;
            var note = document.getElementById("note__").value;
            var data = {
                "name": name,
                "unit": unit,
                "note": note
            }
            $.ajax({
                method: "POST",
                url: origin + "/admin/property/edit/" + propertyId,
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(data),
            })
                .done(function (data) {
                    document.getElementById('id02').style.display = 'none';
                    document.getElementById('name-' + propertyId).innerText = name;
                    document.getElementById('unit-' + propertyId).innerText = unit;
                    document.getElementById('note-' + propertyId).innerText = note;
                    toastr.success("Sửa thành công !");
                })
                .fail(function () {
                    toastr.error("Đã có lỗi xảy ra khi tạo thuộc tính, vui lòng thử lại sau !");
                })
        }

        function createProperty() {
            var name = document.getElementById("nameProperty_").value;
            var unit = document.getElementById("unit_").value;
            var note = document.getElementById("note_").value;
            var data = {
                "name": name,
                "unit": unit,
                "note": note
            }

            $.ajax({
                method: "POST",
                url: origin + "/admin/property/create",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(data),
            })
                .done(function (data) {
                    modal.style.display = "none";
                    toastr.success("Tạo thuộc tính thành công !");
                    location.reload();
                })
                .fail(function () {
                    toastr.error("Đã có lỗi xảy ra khi tạo thuộc tính, vui lòng thử lại sau !");
                })
        }
    </script>

</body>

</html>