<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Quản lý danh mục sản phầm</title>
    <div th:replace="fragment::head-custom"></div>
    <style>
        tr.shown_,
        tr.hidden_ {
            background-color: #eee;
            /* display: table-row; */
        }

        tr.hidden_ {
            display: none;
        }
    </style>
</head>

<body class="sidebar-mini" style="height: auto; max-width: 100%; overflow-x: hidden;">
    <div th:replace="fragment::header-admin"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="min-height: 1599.06px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-10">
                        <!-- <form>
                            <div class="input-group">
                                <input type="search" class="form-control form-control"
                                    placeholder="Tìm kiếm ... ">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form> -->
                    </div>
                    <div class="col-sm-2">
                        <div class="float-sm-right">
                            <a class="btn btn-dark" th:href="@{/admin/category/create}">
                                <i class="fa-solid fa-square-plus"></i> Thêm mới
                            </a>
                        </div>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Danh sách danh mục sản phẩm</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse"
                                        title="Collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- ./card-header -->
                            <div class="card-body p-0">
                                <table class="table table-hover">
                                    <tbody>
                                        <tr>
                                            <th width="25%">Tên loại sản phẩm</th>
                                            <th width="25%"></th>
                                        </tr>
                                        <th:block th:each="category : ${treeCategory}">
                                            <tr>
                                                <td style="padding-left: 0px;">
                                                    <i class="expandable-table-caret fas fa-caret-right fa-fw"
                                                        th:id="'btn_' + ${category.key.id}" aria-expanded="false"
                                                        onclick="toggle(this.id);" style="cursor: pointer;"></i>
                                                    <a th:text="${category.key.name}" style="padding-left: 15px;"></a>
                                                </td>
                                                <td class="project-actions text-right">
                                                    <a class="btn btn-primary btn-sm"
                                                        th:href="@{'/admin/category/view/' + ${category.key.id}}">
                                                        <i class="fas fa-folder">
                                                        </i>
                                                        Xem chi tiết
                                                    </a>
                                                    <a class="btn btn-info btn-sm"
                                                        th:href="@{'/admin/category/edit/' + ${category.key.id}}">
                                                        <i class="fas fa-pencil-alt">
                                                        </i>
                                                        Sửa
                                                    </a>
                                                    <a class="btn btn-danger btn-sm"
                                                        th:data-href="'/admin/category/delete/' + ${category.key.id}"
                                                        onclick="deleteMethod(this)">
                                                        <i class="fas fa-trash">
                                                        </i>
                                                        Xóa
                                                    </a>
                                                </td>
                                            </tr>
                                            <th:block th:each="child : ${category.value}">
                                                <tr th:class="hidden_ + ' r-btn_' + ${category.key.id}">
                                                    <td>
                                                        <a th:text="${child.name}" style="padding-left: 15px;"></a>
                                                    </td>
                                                    <td class="project-actions text-right">
                                                        <a class="btn btn-primary btn-sm"
                                                            th:href="@{'/admin/category/view/' + ${child.id}}">
                                                            <i class="fas fa-folder">
                                                            </i>
                                                            Xem chi tiết
                                                        </a>
                                                        <a class="btn btn-info btn-sm"
                                                            th:href="@{'/admin/category/edit/' + ${child.id}}">
                                                            <i class="fas fa-pencil-alt">
                                                            </i>
                                                            Sửa
                                                        </a>
                                                        <a class="btn btn-danger btn-sm"
                                                            th:data-href="'/admin/category/delete/' + ${child.id}"
                                                            onclick="deleteMethod(this)">
                                                            <i class="fas fa-trash">
                                                            </i>
                                                            Xóa
                                                        </a>
                                                    </td>
                                                </tr>
                                            </th:block>
                                        </th:block>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>

    <div th:replace="fragment::footer-admin"></div>

    <div th:replace="fragment::script-custom"></div>

    <script>
        function toggle(btnID) {
            // Feed the list of ids as a selector
            var className = "r-" + btnID;
            var theRows = document.getElementsByClassName(className);
            // Get the button that triggered this
            var theButton = document.getElementById(btnID);
            // If the button is not expanded...
            if (theButton.getAttribute("aria-expanded") == "false") {
                theButton.style.transform = "rotate(90deg)";
                // Loop through the rows and show them
                for (var i = 0; i < theRows.length; i++) {
                    theRows[i].classList.add("shown_");
                    theRows[i].classList.remove("hidden_");
                }
                // Now set the button to expanded
                theButton.setAttribute("aria-expanded", "true");
                // Otherwise button is not expanded...
            } else {
                theButton.style.transform = "rotate(0deg)";
                // Loop through the rows and hide them
                for (var i = 0; i < theRows.length; i++) {
                    theRows[i].classList.add("hidden_");
                    theRows[i].classList.remove("shown_");
                }
                // Now set the button to collapsed
                theButton.setAttribute("aria-expanded", "false");
            }
        }
    </script>

</body>

</html>