<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Tạo Slide mới</title>
    <div th:replace="fragment::head-custom"></div>
</head>

<body class="sidebar-mini" style="height: auto; max-width: 100%; overflow-x: hidden;">
    <div th:replace="fragment::header-admin"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="min-height: 1599.06px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-12">
                  <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a th:href="@{/admin/home}">Home</a></li>
                    <li class="breadcrumb-item"><a th:href="@{/admin/slide/get-all}">Quản lý slide</a></li>
                    <li class="breadcrumb-item active">Tạo mới</li>
                  </ol>
                </div>
              </div>
            </div><!-- /.container-fluid -->
          </section>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">

                <div class="row">
                    <!-- left column -->
                    <div class="col-md-6" style="    flex: 0 0 100%; max-width: 100%;">
                        <!-- general form elements -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Thêm slide</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <form th:action="@{/admin/slide/create}" method="post" th:object="${slideRequest}"
                                enctype="multipart/form-data" id="formCreateSlide">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label>Tiêu đề</label>
                                        <input type="text" class="form-control" th:id="title"
                                            placeholder="Tiêu đề" th:name="title" th:field="*{title}">
                                    </div>
                                    <div class="form-group">
                                        <label>Tiêu đề nhấn mạnh</label>
                                        <input type="text" class="form-control" th:id="titleStrong"
                                            placeholder="Tiêu đề ..." th:name="titleStrong" th:field="*{titleStrong}">
                                    </div>
                                    <div class="form-group">
                                        <label>Link </label>
                                        <input type="text" class="form-control" th:id="link"
                                            placeholder="link" th:name="link" th:field="*{link}">
                                    </div>
                                    <div class="form-group">
                                        <label for="fileImage" class="btn btn-success"><i class="fa-solid fa-upload"></i> Chọn ảnh</label>
                                        <input id="fileImage" th:name="image" type="file"
                                            accept="image/png, image/jpg, image/jpeg" style="display: none;" required>
                                        <img id="thumbnail" alt="image preview" width="200px" style="display: none;" />
                                    </div>
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary" onclick="checkInputImage()">Thêm slide</button>
                                </div>
                            </form>
                        </div>
                        <!-- /.card -->
                    </div>
                    <!--/.col (left) -->
                    <!--/.col (right) -->
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>

    <div th:replace="fragment::footer-admin"></div>

    <div th:replace="fragment::script-custom"></div>

    <script>
        var origin = window.location.origin;

        $(document).ready(function () {
            $('#fileImage').change(function () {
                showImageThumbnail(this);
            });

            getCategoryParent();
            getProperties();
        });


        function showImageThumbnail(fileInput) {
            file = fileInput.files[0];
            reader = new FileReader();

            reader.onload = function (e) {
                $('#thumbnail').attr('src', e.target.result);
                document.getElementById('thumbnail').style.display = "block";
            }

            reader.readAsDataURL(file);
        }

        function checkInputImage() {
            var inputImage = document.getElementById("fileImage");
            if (inputImage.files.length == 0) {
                toastr.warning("Hãy chọn ảnh !");
            }
        }

    </script>

</body>

</html>