<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Đổi mật khẩu</title>
    <div th:replace="fragment::head-custom2"></div>
    <!-- <div th:replace="fragment::head-custom"></div> -->
</head>

<body class="cnt-home" style="font-family: 'Open Sans', sans-serif; font-size: 13px;">
<div th:replace="fragment::header-user"></div>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="padding-top: 13px; margin-left: 0px; min-height: 500px">
    <div class="breadcrumb" style="font-size: 13px;">
        <div class="container">
            <div class="breadcrumb-inner">
                <ul class="list-inline list-unstyled">
                    <li style="display: inline;"><a th:href="@{/home}">Trang chủ</a></li>
                    <li style="display: inline;"><a th:href="@{/user/get-info}">Thông tin tài khoản</a></li>
                    <li class="active">Đổi mật khẩu</li>
                </ul>
            </div><!-- /.breadcrumb-inner -->
        </div><!-- /.container -->
    </div>
    <!-- Main content -->
    <div class="body-content outer-top-xs" id="top-banner-and-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <!-- Profile Image -->
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle"
                                     th:src="${userResponse.apiGetAvatar}" alt="User profile picture"
                                     id="img-avatar">
                            </div>
                            <p class="text-muted text-center">[[${userResponse.username}]]</p>

                            <h3 class="profile-username text-center">[[${userResponse.fullName}]]</h3>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="active tab-pane" id="activity">
                                    <form class="form-horizontal" id="formChangePassword">
                                        <div class="form-group row" style="margin-top: 30px;">
                                            <label class="col-sm-2 col-form-label">Mật khẩu cũ</label>
                                            <div class="col-sm-10 form-group_show-error">
                                                <input type="password" class="form-control" placeholder="Mật khẩu cũ"
                                                       id="old-password" name="old-password">
                                            </div>
                                        </div>
                                        <div class="form-group row" style="margin-top: 30px;">
                                            <label class="col-sm-2 col-form-label">Mật khẩu mới</label>
                                            <div class="col-sm-10 form-group_show-error">
                                                <input type="password" class="form-control" id="new-password"
                                                       placeholder="Mật khẩu mới" name="new-password">
                                            </div>
                                        </div>
                                        <div class="form-group row" style="margin-top: 30px;">
                                            <label class="col-sm-2 col-form-label">Xác nhân mật khẩu</label>
                                            <div class="col-sm-10 form-group_show-error">
                                                <input type="password" class="form-control" id="re-password"
                                                       placeholder="Xác nhân mật khẩu" name="re-password">
                                            </div>
                                        </div>
                                        <div class="mb-3" style="margin-top: 30px; margin-bottom: 15px">
                                            <label class="col-sm-2 col-form-label"></label>
                                            <a onclick="changePassword()" class="btn btn-primary"
                                               style="width:15%">Đổi mật khẩu</a>
                                        </div>
                                    </form>
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
</div>
<div th:replace="fragment::footer-user"></div>

<div th:replace="fragment::script-custom2"></div>
<!-- <div th:replace="fragment::script-custom"></div> -->
<!-- jquery-validation -->
<script th:src="@{/assets/plugins/jquery-validation/jquery.validate.min.js}"></script>
<script th:src="@{/assets/plugins/jquery-validation/additional-methods.min.js}"></script>

<script th:inline="javascript">

        $(document).ready(function () {

            $.validator.addMethod("checkOldPassword", function (value, element) {
                var result = checkOldPassword_();
                return result;
            });

        });

        $(function () {
            $('#formChangePassword').validate({
                rules: {
                    "old-password": {
                        required: true,
                        checkOldPassword: true,
                    },
                    "new-password": {
                        required: true,
                        minlength: 8,
                    },
                    "re-password": {
                        required: true,
                        equalTo: "#new-password",
                    },
                },
                messages: {
                    "old-password": {
                        required: "Hãy nhập mật khẩu !",
                        checkOldPassword: "Mật khẩu không chính xác !",
                    },
                    "new-password": {
                        required: "Hãy nhập mật khẩu !",
                        minlength: "Mật khẩu phải trên 8 ký tự !",
                    },
                    "re-password": {
                        required: "Hãy nhập mật khẩu !",
                        equalTo: "Mật khẩu không đồng nhất",
                    },
                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.form-group_show-error').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });
        });

        function checkOldPassword_() {
            var password = document.getElementById("old-password").value;
            var data = { "password": password };
            var check = false;
            $.ajax({
                method: "POST",
                url: origin + "/user/check-password",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(data),
                async: false
            })
                .done(function (data) {
                    check = true;
                })
                .fail(function () {
                    check = false;
                })
            return check;
        }

        function changePassword() {
            if ($('#formChangePassword').valid()) {
                var password = document.getElementById("new-password").value;
                var data = { "password": password };
                $.ajax({
                    method: "POST",
                    url: origin + "/user/change-password",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(data),
                    async: false
                })
                    .done(function (data) {
                        toastr.success("Đổi mật khẩu thành công !");
                    })
                    .fail(function () {
                        toastr.success("Có lỗi xảy ra khi đổi mật khẩu. Xin vui lòng thử lại sau !");
                    })
            }
        }
    </script>
</body>

</html>