<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="keywords" content="MediaCenter, Template, eCommerce">
  <meta name="robots" content="all">
  <title>Tin đã đăng</title>
  <div th:replace="fragment::head-custom2"></div>
  <style>
    .sidebar .side-menu nav .nav>li {
      -moz-border-bottom-colors: none;
      -moz-border-left-colors: none;
      -moz-border-right-colors: none;
      -moz-border-top-colors: none;
      -webkit-transition: none;
      -moz-transition: none;
      -o-transition: none;
      transition: none;
      position: relative;
      width: 100%;
      border-bottom: 1px solid #eaeaea;
    }

    li.menu-hover_:hover {
      background-color: rgb(235, 235, 235);
    }

    .menu-hover_:hover>.dropdown-menu {
      display: block;
    }
  </style>
</head>

<body class="cnt-home">
  <div th:replace="fragment::header-user"></div>
  <!-- ============================================== HEADER : END ============================================== -->
  <div class="body-content outer-top-xs" id="top-banner-and-menu">
    <div class="breadcrumb" style="font-size: 13px;">
      <div class="container">
        <div class="breadcrumb-inner">
          <ul class="list-inline list-unstyled">
            <li style="display: inline;"><a th:href="@{/home}">Trang chủ</a></li>
            <li class="active">Danh sách tin đã đăng</li>
          </ul>
        </div><!-- /.breadcrumb-inner -->
      </div><!-- /.container -->
    </div>
    <div class="container">
      <div class="row">
        <!-- /.sidebar -->
        <div class="col-md-12">
          <!-- ========================================== SECTION – HERO ========================================= -->
          <div class="clearfix filters-container m-t-10">
            <div class="row">
              <div class="col col-sm-12 col-md-6">
                <div class="col col-sm-3 col-md-10 no-padding">
                  <div class="lbl-cnt"> <span class="lbl">Trạng thái</span>
                    <div class="fld inline">
                      <!-- <select>
                        <option>Tất cả</option>
                        <option>Đã bán</option>
                        <option>Chưa bán</option>
                        <option>Chờ xác nha</option>
                      </select> -->
                      <div class="dropdown dropdown-small dropdown-med dropdown-white inline">
                        <button th:if="${status == 'all'}" data-toggle="dropdown" type="button" class="btn dropdown-toggle"> Tất cả <span class="caret"></span> </button>
                        <button th:if="${status == 'SOLD_OUT'}" data-toggle="dropdown" type="button" class="btn dropdown-toggle"> Đã bán <span class="caret"></span> </button>
                        <button th:if="${status == 'STOCKING'}" data-toggle="dropdown" type="button" class="btn dropdown-toggle"> Chưa bán <span class="caret"></span> </button>
                        <button th:if="${status == 'WAITING_CONFIRM'}" data-toggle="dropdown" type="button" class="btn dropdown-toggle"> Chờ xác nhận <span class="caret"></span> </button>
                        <ul role="menu" class="dropdown-menu">
                          <li role="presentation"><a th:href="@{/user/my-list-product?status=all}">Tất cả</a></li>
                          <li role="presentation"><a th:href="@{/user/my-list-product?status=SOLD_OUT}">Đã bán</a></li>
                          <li role="presentation"><a th:href="@{/user/my-list-product?status=STOCKING}">Chưa bán</a></li>
                          <li role="presentation"><a th:href="@{/user/my-list-product?status=WAITING_CONFIRM}">Chờ xác nhận</a></li>
                        </ul>
                      </div>
                    </div>
                    <!-- /.fld -->
                  </div>
                  <!-- /.lbl-cnt -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.col -->
              <div class="col col-sm-6 col-md-6 text-right">
                <div class="pagination-container">
                  <ul class="list-inline list-unstyled">
                    <li th:if="${current_page > 1}" class="prev"><a
                            th:href="@{'/user/my-list-product?page=' + ${current_page - 1} + '&status=' + ${status}}"><i
                                class="fa fa-angle-left"></i></a></li>
                    <li th:unless="${current_page > 1}" class="prev"><a><i class="fa fa-angle-left"></i></a>
                    </li>
                    <th:block th:if="${total_page != 0}" th:each="i: ${#numbers.sequence(1, total_page)}">
                        <li th:if="${i == current_page}" class="active"><a>[[${i}]]</a></li>
                        <li th:unless="${i == current_page}"><a
                                th:href="@{'/user/my-list-product?page=' + ${i} + '&status=' + ${status}}">[[${i}]]</a>
                        </li>
                    </th:block>
                    <li th:if="${total_page > current_page}" class="next"><a
                            th:href="@{'/user/my-list-product?page=' + ${current_page + 1} + '&status=' + ${status}}"><i
                                class="fa fa-angle-right"></i></a></li>
                    <li th:unless="${total_page > current_page}" class="next"><a><i
                                class="fa fa-angle-right"></i></a></li>
                </ul><!-- /.list-inline -->
                </div>
                <!-- /.pagination-container -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <div class="search-result-container ">
            <div id="myTabContent" class="tab-content category-list">
              <div class="tab-pane active" id="list-container">
                <div class="category-product">
                  <h4 th:unless="${productResponseList.size() > 0}" style="text-align: center;">Không tồn tại bài đăng !!!</h4>
                  <th:block th:each="product : ${productResponseList}">
                    <div class="category-product-inner wow fadeInUp animated" style="visibility: visible;">
                      <div class="products">
                        <div class="product-list product">
                          <div class="row product-list-row">
                            <div class="col col-sm-4 col-lg-4">
                              <div>
                                <div> <img th:src="${product.mainImage}" alt="" style="margin-left: 50%;
                                  transform: translate(-50%, 0); object-fit: contain; width: 150px; height: 150px;">
                                </div>
                              </div>
                              <!-- /.product-image -->
                            </div>
                            <!-- /.col -->
                            <div class="col col-sm-8 col-lg-8">
                              <div class="product-info">
                                <h3 class="name"><a
                                    th:href="@{'/user/product/detail/' + ${product.id}}">[[${product.name}]]</a></h3>
                                <div class="product-price"> <span class="price">
                                    [[${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')}]] VNĐ </span>
                                </div>
                                <!-- /.product-price -->
                                <div class="cart clearfix animate-effect">
                                  <div class="action">
                                  </div>
                                  <!-- /.action -->
                                </div>
                                <!-- /.cart -->

                              </div>
                              <!-- /.product-info -->
                            </div>
                            <!-- /.col -->
                          </div>
                          <!-- /.product-list-row -->
                        </div>
                        <!-- /.product-list -->
                      </div>
                      <!-- /.products -->
                    </div>
                  </th:block>
                  <!-- /.category-product-inner -->
                </div>
                <!-- /.category-product -->
              </div>
              <!-- /.tab-pane #list-container -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.search-result-container -->

        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /#top-banner-and-menu -->
  <div th:replace="fragment::footer-user"></div>

  <div th:replace="fragment::script-custom2"></div>

  <script>
    var origin = window.location.origin;

    $(document).ready(function () {
      $.ajax({
        method: "GET",
        url: origin + "/get-menu",
        contentType: "application/json; charset=utf-8",
        success: function (data) {
          document.getElementById("menu_").innerHTML = data;
        }
      })
    });
  </script>
</body>

</html>