<h3><span onclick="showParent()" style="font-size: 20px;"><i class="fa-solid fa-angle-left" style="cursor: pointer;"></i> </span>Danh mục sản phẩm</h3>
<ul class="nav" xmlns:th="https://www.thymeleaf.org" id="id002" style="margin-bottom: 10px">
    <th:block th:each="category: ${menuResponse}">
        <li class="dropdown menu-item menu-hover_" onclick="showChild(this)" th:data-id="'category-' + ${category.key.id}" style="cursor: pointer;">
            <a class="hhh_" style="color: #000;"><span th:text="${category.key.name} ?: _">Lỗi</span></a>
        </li>
        <ul class="nav" style="display: none;" th:id="'category-' + ${category.key.id}">
            <th:block th:each="childCategory: ${category.value}">
                <li class="dropdown menu-item menu-hover_" onclick="getFormCreateProduct(this)"
                    th:data-category-id="${childCategory.id}" th:data-category-name="${childCategory.name}"
                    style="cursor: pointer;">
                    <a style="color: #000;"><span th:text="${childCategory.name} ?: _">Lỗi</span></a>
                </li>
            </th:block>
        </ul>
    </th:block>
</ul>

<ul class="nav" xmlns:th="https://www.thymeleaf.org" id="id003" style="margin-bottom: 10px; display: none;">
    <th:block th:each="category: ${menuResponse}">
        <li class="dropdown menu-item menu-hover_" onclick="showChild(this)" th:data-id="'category-' + ${category.key.id}" style="cursor: pointer;">
            <a class="hhh_" style="color: #000;"><span th:text="${category.key.name} ?: _">Lỗi</span></a>
        </li>
        <ul class="nav" style="display: none;" th:id="'category-' + ${category.key.id}">
            <th:block th:each="childCategory: ${category.value}">
                <li class="dropdown menu-item menu-hover_" onclick="getFormCreateProduct(this)"
                    th:data-category-id="${childCategory.id}" th:data-category-name="${childCategory.name}"
                    style="cursor: pointer;">
                    <a style="color: #000;"><span th:text="${childCategory.name} ?: _">Lỗi</span></a>
                </li>
            </th:block>
        </ul>
    </th:block>
</ul>