<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="MediaCenter, Template, eCommerce">
    <meta name="robots" content="all">

    <title>Điều khoản</title>

    <div th:replace="fragment::head-custom2"></div>


</head>

<body class="cnt-home">
    <!-- ============================================== HEADER ============================================== -->
    <div th:replace="fragment::header-user"></div>
    <!-- ============================================== HEADER : END ============================================== -->

    <div class="body-content outer-top-xs">
        <div class="container">
            <div class="terms-conditions-page">
                <div class="row">
                    <div class="col-md-12 terms-conditions">
                        <h2 class="heading-title">Terms and Conditions</h2>
                        <div class="">
                            <h3>Đăng ký tài khoản trên website Chợ Cũ</h3>
                            <ol>
                                <li>Để sử dụng một số tính năng của Chợ Cũ, bạn phải tạo Tài khoản trên website</li>
                                <li>Khi tạo Tài khoản bạn phải đồng ý cung cấp một cách chính xác và đầy đủ thông tin
                                    được yêu cầu (Dữ liệu tài khoản)</li>
                                <li>Nếu bạn cung cấp thông tin của bất kỳ bên thứ ba nào cho Chợ Cũ, chúng tôi có quyền
                                    tin rằng bạn đã đạt được sự thỏa thuận cần thiết từ bên thứ ba đó để chia sẻ và
                                    chuyển giao thông tin của họ cho chúng tôi</li>

                            </ol>
                            <h3>Bảo vệ tài khoản</h3>
                            <ol>
                                <li>Để sử dụng và bảo vệ Tài khoản, bạn phải cung cấp một số điện thoại và Mật khẩu (Dữ
                                    liệu đăng ký) để bảo vệ tài khoản</li>
                                <li>Nếu bạn chia sẻ tài khoản của mình đối với bất kỳ bên nào khác thì bạn sẽ tự chịu
                                    mọi trách nhiệm về tất cả các hành động được thực hiện và hậu quả dưới tên Tài khoản
                                    của Bạn, chúng tôi sẽ không chịu bất kỳ trách nhiệm nào phát sinh từ hành động của
                                    bạn</li>
                                <li>Hành vi sử dụng dữ liệu đăng ký của người khác mà không được thực hiện dưới sự đồng
                                    ý hoặc khi có sự quan sát của người sở hữu Tài khoản được coi là trái phép</li>
                                <li>Chúng tôi sẽ không chịu trách nhiệm về thiệt hại bạn gây ra do việc sử dụng trái
                                    phép
                                    tài khoản của người khác, bạn có thể phải chịu trách nhiệm cho những thiệt hại của
                                    Chợ Cũ hoặc của những người khác nếu sử dụng trái phép Tài khoản</li>
                            </ol>
                            <h3>Chấm dứt hoạt động của Tài khoản</h3>
                            <ol>
                                <li>Chợ Cũ bảo lưu quyền chấm dứt vĩnh viễn hoặc chấm dứt tạm thời hoạt động của Tài
                                    khoản
                                    nếu bạn được xác định đã vi phạm Quy chế tài khoản, Quy chế hoạt động, Quy định đăng
                                    tin
                                    và/hoặc có những hành vi ảnh hưởng đến hoạt động kinh doanh của Chợ Cũ, bạn sẽ được
                                    thông báo trước 05 (năm) ngày về việc Tài khoản bị chấm dứt hoặc tạm ngưng theo quy
                                    định
                                    của Chợ Cũ</li>
                                <li>Chúng tôi có quyền quyết định Tài khoản đó có vi phạm Quy chế tài khoản, Quy chế hoạt
                                    động, Quy định đăng tin hoặc có hành vi ảnh hưởng đến hoạt động của website hay
                                    không dựa trên những quy định mà chúng tôi đã công khai website hoặc khi có
                                    căn cứ cho rằng Tài khoản đó có hành vi vi phạm pháp luật. Thời điểm chấm dứt Tài
                                    khoản là khi Chợ Cũ gửi email cho bạn về việc chấm dứt Tài khoản</li>
                            </ol>
                            <h3>Liện hệ với chúng tôi</h3>
                            <p>Nếu bạn có bất kì thắc mắc gì hãy liên hệ với chúng tôi thông qua <a
                                    href="#" class='contact-form'>chocu_contact@gmail.com</a></p>
                        </div>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.sigin-in-->
        </div><!-- /.container -->
    </div><!-- /.body-content -->
    <!-- ============================================================= FOOTER ============================================================= -->
    <div th:replace="fragment::footer-user"></div>
    <!-- ============================================================= FOOTER : END============================================================= -->


    <div th:replace="fragment::script-custom2"></div>

</body>

</html>